In [1]:
from sklearn import preprocessing
import pandas as pd

In [2]:
PATIENT_FILE_PATH = 'Downloads/liver_patient_data.csv'

In [3]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [4]:
liver_patients_df = pd.read_csv(PATIENT_FILE_PATH)

In [5]:
liver_patients_df.describe()

,Unnamed: 0,Unnamed: 0.1,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000,579.00000
mean,291.25734,291.25734,44.78238,3.31537,1.49413,291.36615,81.12608,110.41451,6.48169,3.13851,0.94706,0.28497
std,168.96666,168.96666,16.22179,6.22772,2.81650,243.56186,183.18284,289.85003,1.08464,0.79443,0.31959,0.45179
min,0.00000,0.00000,4.00000,0.40000,0.10000,63.00000,10.00000,10.00000,2.70000,0.90000,0.30000,0.00000
25%,144.50000,144.50000,33.00000,0.80000,0.20000,175.50000,23.00000,25.00000,5.80000,2.60000,0.70000,0.00000
50%,292.00000,292.00000,45.00000,1.00000,0.30000,208.00000,35.00000,42.00000,6.60000,3.10000,0.93000,0.00000
75%,437.50000,437.50000,58.00000,2.60000,1.30000,298.00000,61.00000,87.00000,7.20000,3.80000,1.10000,1.00000
max,582.00000,582.00000,90.00000,75.00000,19.70000,2110.00000,2000.00000,4929.00000,9.60000,5.50000,2.80000,1.00000

In [6]:
df = liver_patients_df[['Total_Bilirubin','Direct_Bilirubin','Alkaline_Phosphotase','Alamine_Aminotransferase']]

In [7]:
scaler = preprocessing.MinMaxScaler()

In [8]:
nomalized_data = scaler.fit_transform(df)

In [9]:
nomalized_df = pd.DataFrame(nomalized_data, columns = ['Total_Bilirubin','Direct_Bilirubin','Alkaline_Phosphotase','Alamine_Aminotransferase'])

In [10]:
nomalized_df.describe()

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase
count,579.00000,579.00000,579.00000,579.00000
mean,0.03908,0.07113,0.11156,0.03574
std,0.08348,0.14370,0.11898,0.09205
min,0.00000,0.00000,0.00000,0.00000
25%,0.00536,0.00510,0.05496,0.00653
50%,0.00804,0.01020,0.07084,0.01256
75%,0.02949,0.06122,0.11480,0.02563
max,1.00000,1.00000,1.00000,1.00000